.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
    font-family: inherit;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

a {
    color: #434455;
    text-decoration: none;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*---------------Header---------------*/

.header {
    background: #fff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 
                0 1px 1px 0 rgba(46, 47, 66, 0.16), 
                0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
}

@media (min-width: 768px) and (max-width: 1157px) {
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

@media (min-width: 768px) {
    .header-logo {
        margin-right: 120px;
    }
}

.header-logo-span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
    text-decoration: none;
}

.address {
    font-style: normal;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
    text-decoration: none;
    font-style: normal;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-link.inline {
    color: #404bbf;
}

.header-link.inline::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: block;
    padding: 24px 0;
}

.address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    font-style: normal;
    display: block;
    padding: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list {
    display: flex;
    gap: 40px;
}

@media (min-width: 768px) and (max-width: 1157px) {
    .address-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
    
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.burger-button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-button {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
}
@media (min-width: 1158px) {
    .address-link {
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/*---------------Main Tittle---------------*/

.main-title {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-title-background {
    margin: 0 auto;
    padding: 72px 0;
    /*max-width: 1440px;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
    url('../images/office-bg.jpg');
}

@media (min-resolution: 2dppx) {
    .main-title-background {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url("../images/office-bg-2x.jpg");
    }
}

.main-title-name {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    /*margin-bottom: 48px;*/
    margin-bottom: 0;
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
}

.main-title-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.main-title-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-title-button:hover,
.main-title-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .main-title-background {
        padding: 112px 0;
    }

    .main-title-name {
        max-width: 496px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        /*margin-bottom: 0;*/
        font-size: 56px;
    }

    .main-title-content {
        gap: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .main-title-name {
        max-width: 496px;
        line-height: 1.07;
        /*margin-bottom: 0;*/
        font-size: 56px;
    }
    
    .main-title-content {
        gap: 48px;
    }

    .main-title-background {
        padding: 188px 0;
    }

    .main-title-button {
        margin: 0 auto;
    }
}

/*---------------Our Features---------------*/

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    flex: 1;
    gap: 72px;
    flex-direction: column;
}

.features-link {
    /*width: calc((100% - 24px * 3) / 4);*/
    /*width: 100px;*/
}

.features-wrapper {
    /*display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;;
    margin-bottom: 8px;*/
    display: none;
}

.features-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.features-subtitle {
    text-align: center;
}

@media (min-width: 768px) {
    .features-subtitle {
        text-align: left;
    }
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-link {
        width: calc((100% - 24px) / 2);
    }

    .features-subtitle {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .features {
        padding: 120px 0;
    }

    .features-wrapper {
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .features-list {
        gap: 24px;
    }

    .features-link {
        width: calc((100% - 3 * 24px) / 4);
    }

    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features-text {
        font-weight: 400;
    }
}

/*---------------Our Team---------------*/

.team {
    background: #f4f4fd;
    padding: 96px 0;
}

.team-link {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    /*display: block;*/
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    /*flex: 1;*/
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.team-link {
    /*width: calc((100% - 24px * 3) / 4);
    border-radius: 0 0 4px 4px;*/
    background-color: #fff;
    width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
                0 1px 1px 0 rgba(46, 47, 66, 0.16), 
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-link-wrapper {
    /*display: flex;
    flex-direction: column;*/
    padding: 32px 0px;
    /*gap: 8px;*/
    text-align: center;
}   

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-list-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-item-icon {
    width: 40px;
    height: 40px;
}

.team-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:hover,
.team-link-icon:focus {
    background-color: #404bbf;
}

.team-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-link {
        width: 264px;
    }

    .team-item img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }

    .team-list {
        gap: 24px;
        flex-wrap: nowrap;
    }

    .team-link {
        width: calc((100% - 3 * 24px) / 4);
        border-radius: 0 0 4px 4px;
    }

    .team-link-wrapper {
        display: flex;
        flex-direction: column;
        padding: 32px 16px;
        gap: 8px;
    }

    .team-subtitle {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 0;
    }

    .team-text {
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/*---------------Our Portfolio---------------*/

.portfolio {
    padding: 96px 0;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    display: block;
    margin-bottom: 72px;
}

.portfolio-list {
    /*display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;*/
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    gap: 48px;
}

.portfolio-link {
    /*width: calc((100% - 24px * 2) / 3);
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
    width: 100%;
    /*max-width: 288px;*/
    background: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
                0 1px 1px 0 rgba(46, 47, 66, 0.16), 
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-link:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-image-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link-wrapper {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    gap: 8px;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-link {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding: 120px 0;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
    }

    .portfolio-link {
        width: calc((100% - 2 * 24px) / 3);
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/*---------------Footer---------------*/

.footer {
    padding: 96px 0;
    background: #2e2f42;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 72px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /*margin-right: 0;*/
}

.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    /*display: inline-block;
    margin-bottom: 16px;*/
}

.footer-logo-span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    /*margin-top: 16px;*/
    text-align: left;
}

.footer-icon-wrapper{
    text-align: center;
}

.footer-icon-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
}

.footer-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill: #f4f4fd;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31d0aa;
}

.footer-subscribe-wrapper {
    /*margin-left: 0;*/
    text-align: start;
}

.footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-subscribe-label {}

.footer-subscribe-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: transparent;
    min-width: 264px;
    min-height: 40px;
    flex-shrink: 0;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input:focus {
    border-color: #31d0aa;
}

.footer-subscribe-input::placeholder {
    color: #fff;
}

.footer-subscribe-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    min-width: 165px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background-color: #31d0aa;
}

.footer-subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .footer-container {
        max-width: 768px;
        /*display: flex;*/
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: start;
        gap: 72px 24px;
    }

    .footer-logo {
        display: inline-block;
        /*margin-bottom: 16px;*/
        text-align: left;
    }

    .footer-icon-wrapper {
        text-align: left;
    }

    .footer-subscribe-wrapper {
        /*margin-left: 0;*/
        /*width: 100%;*/
    }

    .footer-text {
        text-align: left;
        margin: 0;
        width: 264px;
    }

    .footer-socials-title,
    .footer-form-title {
        text-align: left;
    }

    .footer-subscribe-form {
        flex-direction: row;
        gap: 24px;
    }

    .footer-form-input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    .footer-container {
        max-width: 1158px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        /*align-items: center;*/
        /*justify-content: space-between;*/
        justify-content: flex-start;
        /*max-width: none;*/
        /*margin-bottom: 0;*/
        gap: 0;
    }

    .footer-left {
        margin-right: 120px;
    }

    .footer-icon-wrapper {
        margin-right: 0;
    }

    .footer-subscribe-wrapper {
        margin-left: 80px;
    }

    .footer-socials-box {
        /*margin-right: 40px;*/
        margin-bottom: 0;
    }

    .footer-logo-box,
    .footer-text,
    .footer-socials-title,
    .footer-form-title {
        text-align: left;
    }

    .footer-socials {
        justify-content: flex-start;
    }

    .footer-subscribe-form {
        flex-direction: row;
        gap: 24px;
    }
}

/*----BACKDROP----*/
.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop-modal {
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 32px);
    max-width: 288px;
    min-height: 584px;
    padding: 48px 16px;
    border-radius: 4px;
    box-shadow:
        0 1px 1px 0 rgb(0 0 0 / 14%),
        0 1px 3px 0 rgb(0 0 0 / 12%),
        0 2px 1px 0 rgb(0 0 0 / 20%);
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}

@media (min-width: 768px) {
    .backdrop-modal {
        max-width: 408px;
        padding: 72px 24px 24px;
    }
}

.backdrop-modal-close-button {
    background-color: #e7e9fc;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 50%;
    cursor: pointer;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-modal-close-button:focus,
.backdrop-modal-close-button:hover {
    background-color: #404bbf;
    border: none;
}

.backdrop-modal-svg-close-button {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-modal-close-button:hover .backdrop-modal-svg-close-button,
.backdrop-modal-close-button:focus .backdrop-modal-svg-close-button {
    fill: #ffffff;
}

.backdrop-modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.backdrop-modal-input {
    font-size: medium;
    color: #2e2f42;
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding-right: 16px;
    padding-left: 38px;
    border: 1px solid rgb(46 47 66 / 40%);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-modal-input:hover,
.backdrop-modal-input:focus {
    border: 1px solid #4d5ae5;
}

.backdrop-modal-input:required {
    border: 1px solid tomato;
}

.backdrop-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    height: 24px;
    fill: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-modal-label-input {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: #8e8f99;
    display: block;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 4px;
}

.backdrop-input-wrapper {
    position: relative;
}

.backdrop-modal-field {
    margin-bottom: 8px;
}

.backdrop-modal-input:focus+.backdrop-input-icon {
    fill: #4d5ae5;
}

.backdrop-modal-field-comment {
    margin-bottom: 16px;
}

.backdrop-modal-text-area {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgb(46 47 66 / 40%);
    background-color: transparent;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgb(46 47 66 / 40%);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-modal-text-area:hover,
.backdrop-modal-text-area:focus {
    border: 1px solid #4d5ae5;
}

.backdrop-modal-check-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: #8e8f99;
    display: flex;
    align-items: center;
    gap: 8px;
}

.backdrop-modal-field-checkbox {
    margin-bottom: 24px;
}

.backdrop-modal-policy-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.backdrop-modal-check-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgb(46 47 66 / 40%);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.backdrop-check-icon {
    fill: #f4f4fd;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-modal-check:checked+.backdrop-modal-check-label>.backdrop-modal-check-box {
    background-color: #404bbf;
    border: none;
    /*fill: #8e8f99;*/
}

.backdrop-modal-check:checked+.backdrop-modal-check-label .backdrop-modal-check-box .backdrop-check-icon {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.backdrop-modal-send-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #e7e9fc;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-modal-send-button:hover,
.backdrop-modal-send-button:focus {
    color: #e7e9fc;
    background-color: #404bbf;
    cursor: pointer;
}



/*---- MOBILE MENU ----*/
.header-list,
.address {
    display: none;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}

.menu-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.mobile-menu-link {
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
}

.mobile-menu-link.current {
    color: #404bbf;
}

.mobile-contacts-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 48px;
}

.contacts-link.tel {
    color: #4D5AE5;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.contacts-link.mail {
    color: #434455;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.mobile-menu-socials-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.mobile-menu-social-icon {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* Modal Window */
.input-wrapper {
    position: relative;
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    fill: #ffffff;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
    display: block;
    margin-bottom: 4px;
}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4d5ae5;
    outline: none;
}

.form-input:focus+.form-icon {
    fill: #4d5ae5;
}

.form-field {
    margin-bottom: 8px;
}

.form-field-comment {
    margin-bottom: 16px;
}

.form-label-text {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 0px;
}

/*.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}*/

/*.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}*/

/*.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    padding: 72px 16px 24px 16px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/

.modal-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 16px;
}

.form-textarea:focus {
    border-color: #4d5ae5;
}

.form-textarea {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
    background-color: #404bbf;
}

.form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 8px;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked+.custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.policy-link {
    color: #4d5ae5;
    text-decoration: underline;
    line-height: 1.33;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}

@media (min-width: 768px) {
    .header-list {
        display: flex;
    }

    .address {
        display: block;
    }
}